<a href="https://colab.research.google.com/github/AnphamKhanh/Project/blob/master/Assignment1_numpy_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- Tiêu chí 1 mở các tệp dữ liệu bên ngoài được yêu cầu:
 + Có thể đọc tất cả các file được tải về
 +Sử dụng exception nếu tên của tệp input không tồn tại trong folder dữ liệu (đừng chỉ dùng một loạt các câu lệnh "if")

In [175]:
filename = input("Pls enter your file name: ")

Pls enter your file name: class3.txt

In [176]:
path = '/content/sample_data/assignment1/' + str(filename)
check_open_list = []

#======== Sử dụng try except mở file

try:
    with open(path,'r') as filename1:
      check_open_list.append("Successfully opened " + "\n")
      check_open_list.append("**** ANALYZING ****" + "\n")
      check_open_list.append("No errors found!" + "\n")
except:
    check_open_list.append("File cannot be found." + "\n")
    check_open_list.append("**** ANALYZING ****" + "\n")
    check_open_list.append("Errors found!" + "\n")
for x in check_open_list:
    print(x)

Successfully opened

**** ANALYZING ****

No errors found!

- Tiêu chí 2 Scan file và phân tích
 + Scan từng dòng trong tệp và đảm bảo format hợp lệ
 +Báo cáo dữ liệu "không hợp lệ" kèm theo lý do
 +Báo cáo tổng số dòng hợp lệ và số dòng không hợp lệ của dữ liệu lưu trong tệp

In [177]:
#======== Hàm con trả về lần lượt list các dòng invalid,
#======== list các kiểu lỗi tương ứng và tổng số dòng bị lỗi.
#======== Cách check dòng invalid: check xem dòng có đủ 25 string "," hay không,
#======== sau đó check id: Chữ cái đầu tiên là "N" hay 8 kí tự sau có ép kiểu về int
#======== hay độ dài các ký tự của id không tính ký tự đầu có đủ 8 ký tự hay không?

def check_kind_name_error(check_total_line):
    num_line_error = 0
    list_line_error = []
    list_name_error = []
    for line in check_total_line:
        #======== Check lỗi "Does not contain exactly 26 values"
        if (line.count(",") != 25):
            num_line_error+=1
            list_line_error.append(line)
            list_name_error.append("Invalid line of data: does not contain exactly 26 values:" + "\n")

        #======== Check lỗi "N# is invalid"
        else:
            a = list(line.split(","))
            b = a[0].replace("N","")
            if ( a[0][0] != "N" ) or  not(b.isdigit())  or  len(b) != 8 :
                num_line_error+=1
                list_line_error.append(line)
                list_name_error.append("Invalid line of data: N# is invalid" + "\n")
            else: pass
    return list_line_error, list_name_error, num_line_error

In [178]:
list_line_error = [] #======== list các dòng invalid
list_name_error = [] #======== list các kiểu lỗi tương ứng
num_line_error = 0   #======== tổng số dòng lỗi

#======== Đọc file
with open(path,'r') as filename1:
    check_total_line = list(filename1.readlines())
    number_of_line = len(check_total_line)
    check_open_list.append("Total lines of data in " + filename + ": " + str(number_of_line))
    list_line_error, list_name_error, num_line_error = check_kind_name_error(check_total_line)

#======== In các thông tin
print("Number of line invalid: ", num_line_error)
print("\n")
print("Number of line valid", number_of_line - num_line_error)
print("\n")
for n in range(0, num_line_error):
    if n == 0: print("Invalid lines and reasons:\n")
    print(list_name_error[n])
    print(list_line_error[n])

Number of line invalid:  0


Number of line valid 100

Tiêu chí 3 Tính tổng điểm học sinh

In [179]:
#======== Tạo 1 file temp.txt chứa các danh sách sinh viên hợp lệ
list_valid = []
for x in check_total_line:
    if x in list_line_error: pass
    else: list_valid.append(x)

path_temp = '/content/sample_data/assignment1/temp.txt'

with open(path_temp, 'w') as write_temp:
    for x in list_valid:
        write_temp.write(x)

In [180]:
import numpy as np
import pandas as pd

#======== Tạo tên các columns
number = list(map(str, range(0,26)))

#======== Tạo dataframe từ file temp.txt
df =  pd.read_csv(path_temp, sep = ',', names = number)

#======== Chọn ra các cột chứa kết quả và không chứa id học sinh
number2 = list(map(str, range(1, 26)))

#======== Tạo list đáp án
answer_key = "B,A,D,D,C,B,D,A,C,C,D,B,A,B,A,C,B,D,A,C,A,A,B,D,D"
#======== Tạo list các đáp án của học sinh
list_answer_key = list(answer_key.split(","))


df_2 = df.copy()

#======== Các vị trí là Nan sẽ được thay bằng 0
df_2[df_2.isna()] = 0

#======== Tạo dataframe lấy các cột chưa đáp án
data_1_25 = df_2[number2].iloc[:]

#======== Các hàng nào chứa giá trị khác đáp án và không bằng 0 thì sẽ bằng -1
data_1_25[(data_1_25 != list_answer_key) & (data_1_25 != 0)] = int(-1)

#======== các vị trí nào đúng đáp án sẽ bằng 4
data_1_25[(data_1_25 == list_answer_key)] = int(4)

#======== Tạo cột chứa tổng điểm
data_1_25['Total'] = data_1_25.sum(axis=1)

print(data_1_25)

     1   2   3   4   5   6  7   8  9  10  ...  17  18 19 20  21  22 23 24  25  \
0    4   0   4   4   4   4  4   4  4   4  ...   4   4  4  0   0   4  4  4   4
1    4   0   4  -1   4   4  4  -1  4   4  ...   0   4  4  4   0  -1  4  4  -1
2    4   4   4   4   4   4  0  -1  4   4  ...   4   4  4  4   4   4  4  4   4
3   -1   0   4   4   4   4  4   0  4   4  ...  -1   4  4  4   4   4  4  4   4
4    0  -1   0   4   0  -1  4   4  4  -1  ...   4   4  4  4  -1   4  4  4   4
..  ..  ..  ..  ..  ..  .. ..  .. ..  ..  ...  ..  .. .. ..  ..  .. .. ..  ..
95   4   4   4   0  -1   4  4   4  0   4  ...   4  -1  4  4   4  -1  4  0   4
96   4   4   0   4   4   4  4   4  4   4  ...   4  -1  4  4   4   4  4  4   4
97   4   4  -1   4   4   4  4   4  4  -1  ...   4   4  4  4   4  -1  4  4   4
98   0   4   4   0   4   4  4   4  0   4  ...   0   4  4  4   4   4  4  4   4
99   4  -1   4   4   4   4  4   4  4   4  ...   4   4  4  4  -1   0  4  4  -1

   Total
0   83.0
1   59.0
2   86.0
3   78.0
4   58.0
..   ...
95  73.0
96  87.0
97  75.0
98  80.0
99  81.0

[100 rows x 26 columns]

In [181]:
#======== Tạo numpy array từ cột 'Total'
mark = np.array(data_1_25['Total'])

print("Highest_score: ", np.max(mark))
print("Lowest_score: ", np.min(mark))
print("Mean_score: ", np.mean(mark))
print("Median_score: ", (np.median(np.sort(mark))))

Highest_score:  96.0
Lowest_score:  56.0
Mean_score:  76.24
Median_score:  77.0

- Tiêu chí 4 Tạo tệp kết quả
 + Viết kết quả vào tệp (số lượng file xuất ra phải bằng số lượng file nhập vào)
 + Mỗi dòng chứa số ID của học viên, dấu phẩy, và điểm của họ

In [182]:
#======== Tạo 1 file mới tên class[i]_grades.txt với i là số lớp vào đường dẫn có thư mục mới là grade
path_save = '/content/sample_data/assignment1/grade/' + str(filename).replace(".txt","_grades.txt")

df['Total'] = data_1_25['Total']
df_new = df[['0', 'Total']]
df_new.columns = df_new.iloc[0]
df_new.drop([0], axis = 0, inplace=True)
print(df_new)
name = df_new.to_string(index=False)

#======== Viết vào file các id mà mark của các học sinh hợp lệ
with open(path_save, 'w') as file_write:
    file_write.write(name)

0   N00000046  83.0
1   N00000047  59.0
2   N00000048  86.0
3   N00000049  78.0
4   N00000050  58.0
5   N00000051  72.0
..        ...   ...
95  N00000141  73.0
96  N00000142  87.0
97  N00000143  75.0
98  N00000144  80.0
99  N00000145  81.0

[99 rows x 2 columns]

<ipython-input-182-bd3f07111dcb>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new.drop([0], axis = 0, inplace=True)